@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#form1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;

}

#form1 label {
    font-family: "Raleway", sans-serif;
}
p {
    text-align: justify;
}