.cate {
    gap: 150px;
    width: 80%;
    height: 500px;
    border-radius: 15px;
    background-color: black;
    color: #bd7d07;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 200px;
}

.cate p a {
    color: #bd7d07;
}