@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@100..900&display=swap');

:root {
    --primary-color: #bd7d07;
    --secondary-color: black;
    --font-family: 'Raleway', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--secondary-color);
}

#wrapper {
    display: flex;
    gap: 150px;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wrapper img {
    width: 250px;
    height: auto;
}

#wrapper p {
    color: var(--primary-color);
    font-size: larger;
}

#note {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
}

#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    width: 100%;
}

.parts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

/* .ligneAcceuil {}
    /* Style for the line, add properties if needed */

.table-responsive {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

.table-responsive th, .table-responsive td {
    padding: 10px;
    text-align: left;
}

.table-responsive img {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
}
