@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Raleway", sans-serif;
}

/* ------------------- Carrousel -------------------- */
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: transparent;
}

.carousel-button.prev {
    left: 1rem;
    color: orange;
}

.carousel-button.next {
    right: 1rem;
    color: orange;
}

/* ----------------- Main ------------------- */
header {
    width: 100%;
    height: 100px;
}

main ul {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

main ul li {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

main img {
    width: 200px;
    height: 250px;
}

main ul li a {
    text-decoration: none;
    color: black;
}

main ul li a p {
    margin-top: 15px;
}

#citation, #citation2 {
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#citation p, #citation2 p {
    color: white;
    font-size: large;
}

.ligneAcceuil {
    border: solid orange;
    width: 150px;
    height: 3px;
    margin: 25px 0 5px 10px;
}

#alaUne, #films, #acteur, #real {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

#alaUne h2, #films h2, #acteur h2, #real h2 {
    margin-left: 10px;
}

#films h2 a, #acteur h2 a, #real h2 a {
    text-decoration: none;
    color: black;
}

.img {
    width: 150px;
    height: 250px;
}

.actorsphoto img, .realphoto img {
    object-fit: cover;
    border-radius: 5px;
}

/* .actorsphoto img {}
    /* width: 200px;
    height: 200px; */

#footer {
    width: 100%;
    height: 180px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: white;
    font-size: large;
    text-align: center;
}

.movies, .directors {
    font-family: "Inter", sans-serif;
}

.movies {
    color: black;
}

.directors {
    color: #bd7d07;
}
